/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~~~~~~~~~| MOBILE |~~~~~~~~~~~
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
   /*from 0px to 780px */
/* ~~~~~~~ MOBILE HEADER ~~~~~~~~~~*/
.contentLogo, .contentDrop {
  padding: 1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tabletContainer {
  display: none;
}

/* ~~~~~~~~~ DROPDOWN ~~~~~~~~~~~*/
.dropbtn {
  background-color: #D3D3D3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d2001b;
}

.dropdown-content .langue:hover {
  background-color: #d2001b;
  color : #FFFFFF;
}

.tabletContainer, .desktopContainer {
  display: none;
}
/* ~~~~~~~~~ BUTTON ~~~~~~~~~~~*/
.roundBtn {
  background-color: #d2001b;
  border-radius: 15px;
  padding: 5px;
  color: white;
  max-width: 125px;
}
.roundOneSide {
  background-color: #d11301;
  border-radius: 0px 0px 10px 0px;
  line-height: 25px;
  white-space: nowrap;
}
.containerButton {
  line-height: 44.8px;
  white-space: nowrap;
  position: relative;
}

/* background color buttons*/
.darkRed {
  background-color: #b10f01;
}

.red {
  background-color: #cf1302;
}

.lightRed {
  background-color: #ea2816;
}

.pastelRed {
  background-color: #f95b4c;
}

/* ~~~~~~~~~ COMMUN RULES ~~~~~~~~~~~*/

a {
  text-decoration: none;
}

.textCenter, nav {
  text-align: center;
}

.textRight {
  text-align: right;
}

.inlineBlock {
  display: inline-block;
}

.card {
  background-color: #f2f1f1;
  position: relative;
  height: 100%;
}

.backgroundGray {
  background-color: #f2f1f1;
}

.footerMobile {
  margin-top: 5em;
}

html {
  font-size: 0.8em;
}

h2 {
  font-family: "Trebuchet MS", cursive;
  font-weight: bold;
  font-size: 16px;
  color: #cf1302;
  text-align: center;
}

p {
  font-family: "Trebuchet MS";
  font-weight: regular;
  font-size: 12px;
}

/* ~~~~~~~~~ OTHERS RULES ~~~~~~~~~~~*/
.floatRight {
  float:right;
}

.floatLeft {
  float: left;
}
div a {
  text-align: center;
  color: #FFFFFF;
}

.welcome {
  width: 100%;
  margin-bottom: 5em;
}

.marginAuto {
  margin:auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~| TABLET |~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*from 780px to 1280px */
@media screen and (min-width: 780px) {

  /* ~~~~~~~ TABLET HEADER ~~~~~~~~~~*/
  .languageBtn {
    background-color: #d11301;
    border-radius: 0px 0px 10px 10px;
    height: 44.8px;
    line-height: 44.8px;
    width:100px;
  }

  .mobileContainer {
    display: none;
  }

  .tabletContainer {
    width : 100vw;
    display: inline-block;
  }

  .flottante {
    margin: 2px;
    width: 15%;
  }

  .flottante2 {
    margin: 2px;
    width: 55%;
  }

  .flottante3 {
    margin: 2px;
    width: 15%;
  }

  .marginLeft {
    margin-left: 250px;
  }

  .marginRight {
    margin-right: 250px;
  }

  .spacer {
    clear: both;
  }

  .conteneur {
    width: 100%;
  }

  /* nav bar */
  nav ul li a{
    color: #8b8b8b;
    padding: 14px 16px;
  }

  li {
    display: inline;
  }

  .welcome {
    width: 40%;
    margin : auto;
    margin-bottom: 25em;
  }

  .leftBlock {
    width: 35%;
    margin-left:125px;
  }

  .rightBlock {
    width: 40%;
    margin-right: 125px;
  }

  .block {
    display: inline-block;
    width: 225px;
    margin-left:5px;
  }

  .sliderContainer {
    margin-top: 2em;
    max-width: 200px;
    max-height: 150px;
  }

  .resize {
    width : 50%;
    margin: auto;
    text-align: center;
  }

  .contain {
    height: 322.5px;
  }

  .marginTop {
    margin-top: 50px;
  }

  .margin {
    margin: 0;
  }

  .padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~| DESKTOP |~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*from 1280px onwards */
@media screen and (min-width: 1280px) {
  /* desktop header */
    .tabletContainer {
      display:none;
    }
    .desktopContainer {
      display: inline-block;
      width: 100vw;
    }
/* language button*/
    .languageBtn {
      width: 10%;
      float: right;
    }

    .welcome {
      width: 450px;
    }
    .imageContainer {
      width: 60%;
      display: inline-block;
      vertical-align: top;
      height:225px;
    }

    .imageContainer img {
      width: 100%;
      height: 270px;
    }

    .cardText {
      width: 39%;
      display: inline-block;
      vertical-align: top;
    }

    .leftBlock {
      margin-left: 155px;
    }
    .rightBlock{
      margin-right: 155px;
    }
    .card {
      height: 270px;
    }

    .padding {
      padding-left: 15px;
      padding-right: 15px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
